.carousel-container  {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  
  //CSS
  .carousel-container  {
    width: 100%;
    display: flex;
    justify-content: center;
  
    img {
      width: 100%;
      height: auto;
      padding: 0 200px;
      max-width: 12000px;

    }
  }
  
}